In [ ]:
# Q1. What is Statistics?
Ans. 
Statistics is a field of study that involves the collection, analysis, interpretation, presentation, and organization 
of data. It deals with the methods and techniques used to gather, summarize, and draw conclusions from numerical 
information.

In [ ]:
# Q2. Define the different types of statistics and give an example of when each type might be used.
Ans.
1. Descriptive statistics : Descriptive statistics are used to summarize data and describe its main features. 
They can be used to answer questions such as:
What is the average height of the students in my class?
What is the most popular color of car in the United States?
What is the distribution of income in my country?
Some common descriptive statistics include:
* Mean
* Median
* Mode
* Standard deviation
* Range
* Variance

2. Inferential statistics: Inferential statistics are used to make inferences about a population based on data from 
a sample. They can be used to answer questions such as:
Do men and women have different average heights?
Is there a difference in the average income of people in different states?
Is there a relationship between smoking and lung cancer?
Some common inferential statistics include:
* z-test
* t-test
* Hypothesis testing
* P value
* Significant value

In [ ]:
# Q3. What are the different types of data and how do they differ from each other? Provide an example of
# each type of data.
Ans.
There are two types of data
1. Qualitative data : Qualitative data is data that is not numerical. It is often described as "categorical" or "nominal"
data. Qualitative data can be used to describe things, but it cannot be used to measure things. Qualitative data can be
divided into two types: nominal and ordinal. 

a. Nominal Data: Nominal data represents categories or labels that do not have a specific order or numerical value 
associated with them.
Examples of nominal data include:
gender (male, female), 
colors (red, blue, green),
marital status (single, married, divorced)

b. Ordinal Data: Ordinal data represents categories or labels with a natural order or ranking. The difference between 
categories is not quantifiable, but there is a relative order.
Examples of ordinal data include:
survey ratings (e.g., Customer feedback : strongly agree, agree, neutral, disagree, strongly disagree)
educational levels (e.g., high school, bachelor's degree, master's degree, Ph.D.).

2. Quantitative data : Quantitative data is data that is numerical. It can be used to measure things, such as weight, height,
or temperature. Quantitative data can be divided into two types: discrete and continuous.

a. Discrete data : Discrete data is data that can only take on a finite number of values. 
Examples of discrete data include:
The number of students in a class
The number of votes cast in an election
The number of leaves on a tree

b. Continuous data: Continuous data is data that can take on any value within a certain range.
Examples of continuous data include:
The height of a person
The weight of an object
The temperature of a room

In [ ]:
# Q4. Categorise the following datasets with respect to quantitative and qualitative data types:
(i) Grading in exam: A+, A, B+, B, C+, C, D, E  --> qualitative data(ordinal data)
(ii) Colour of mangoes: yellow, green, orange, red --> qualitative data(Nominal data)
(iii) Height data of a class: [178.9, 179, 179.5, 176, 177.2, 178.3, 175.8,...] --> quantitative data(continuous data)
(iv) Number of mangoes exported by a farm: [500, 600, 478, 672, ...] --> quatitative data(Discrete data)

In [ ]:
# Q5. Explain the concept of levels of measurement and give an example of a variable for each level.
Ans.
The levels of measurement are a classification of how precisely variables are recorded. There are four levels of measurement:

1. Nominal level: The data can only be categorized. There is no order or ranking to the categories. Examples of nominal 
variables include:
Gender (male, female)
color (blue, green, brown)

2. Ordinal level: The data can be categorized and ranked. There is an order to the categories, but the intervals between
the categories are not meaningful. Examples of ordinal variables include:
Level of education (high school, college, graduate school)
Customer satisfaction (very satisfied, satisfied, neutral, dissatisfied, very dissatisfied)

3. Interval level: The data can be categorized, ranked, and the intervals between the categories are meaningful. However, 
there is no natural zero point. Examples of interval variables include:
Temperature 
Time 
Score on a test

4. Ratio level: The data can be categorized, ranked, the intervals between the categories are meaningful, and there is a
natural zero point. Examples of ratio variables include:
Height 
Weight 
Distance

In [ ]:
# Q6. Why is it important to understand the level of measurement when analyzing data? Provide an
# example to illustrate your answer.
Ans.
The level of measurement is important to understand when analyzing data because it determines the meaning of the data.
For example, a nominal variable like gender only tells us the category of a person, such as male or female. There is no
order or ranking to the categories, so it would not make sense to calculate the average gender of a group of people.

On the other hand, an ordinal variable like customer satisfaction tells us the order of a person's satisfaction, such as 
very satisfied, satisfied, neutral, dissatisfied, or very dissatisfied. We can calculate the average customer satisfaction
of a group of people, but we cannot say that a person who is very satisfied is twice as satisfied as a person who is 
satisfied.

The level of measurement also determines the statistical tests that can be used on the data. For example, nominal variables
can only be analyzed using non-parametric statistical tests, while ordinal and ratio variables can be analyzed using both 
non-parametric and parametric statistical tests.

In [ ]:
# Q7. How nominal data type is different from ordinal data type.
Ans.
1. Nominal data : Nominal data is the most basic level of measurement. It is used to categorize data into mutually 
exclusive categories. The categories have no order or ranking. For example, gender (male, female), eye color 
(blue, green, brown) are all nominal data types.

2. Ordinal data : Ordinal data is a level of measurement that allows for ordering of data. The categories have a
natural order, but the intervals between the categories are not meaningful. For example, level of education 
(high school, college, graduate school), customer satisfaction (very satisfied, satisfied, neutral, dissatisfied,
very dissatisfied) are all ordinal data types.

In [ ]:
# Q8. Which type of plot can be used to display data in terms of range?
Ans.
There are a few different types of plots that can be used to display data in terms of range. These include:

1. Box plot: A box plot is a good way to visualize the distribution of data and its range. It shows the minimum
and maximum values, the median, and the interquartile range.

2. Range plot: A range plot is a simple way to display the range of data. It shows the minimum and maximum values,
and the difference between them. 

3. Histogram: A histogram is a more detailed way to display the distribution of data. It shows the frequency of each
value in the data set. 

4. Scatter plot: A scatter plot can be used to display the range of data if the data is continuous. It shows the 
relationship between two variables, and the range of each variable can be seen by the spread of the points in
the plot.

In [ ]:
# Q9. Describe the difference between descriptive and inferential statistics. Give an example of each
# type of statistics and explain how they are used.
Ans.
1.Descriptive Statistics:
Descriptive statistics involves summarizing, organizing, and presenting data in a meaningful way. It focuses on
describing the main features of a dataset, providing a summary or snapshot of the data. 
for example: A company might use descriptive statistics to summarize the results of a customer satisfaction
survey. They might calculate the average customer satisfaction score, the percentage of customers who were satisfied, 
and the distribution of satisfaction scores.

2.Inferential Statistics:
Inferential statistics involves making inferences or drawing conclusions about a population based on a sample of 
data. It extends beyond the observed data to make predictions, generalize findings, and test hypotheses about a 
larger population.
for example: A researcher might use inferential statistics to test whether there is a difference in the
average height of men and women. They might collect data on the heights of a sample of men and women and then use 
a t-test to compare the two groups.

In [ ]:
# Q10. What are some common measures of central tendency and variability used in statistics? Explain
# how each measure can be used to describe a dataset.
Ans.
Measures of central tendency
1. Mean: The sum of all measurements divided by the number of observations. This is the most commonly used measure
of central tendency.
2. Median: The middle value in a distribution, when all the values are ranked from least to greatest.
3. Mode: The most frequent value in a distribution.

Measures of variability
1. Range: The difference between the highest and lowest values in a distribution.
Interquartile range (IQR): The difference between the 75th and 25th percentiles in a distribution.
2. Standard deviation: A measure of how spread out the values in a distribution are.
3. Variance: The square of the standard deviation.

In [12]:
import numpy as np
import seaborn as sns
titanic = sns.load_dataset("titanic")

In [13]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [14]:
np.mean(titanic['age'])

29.69911764705882

In [15]:
np.median(titanic['fare'])

14.4542

In [18]:
from scipy import stats

In [21]:
stats.mode(titanic["who"])

/tmp/ipykernel_77/3682211740.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(titanic["who"])
/tmp/ipykernel_77/3682211740.py:1: DeprecationWarning: Support for non-numeric arrays has been deprecated as of SciPy 1.9.0 and will be removed in 1.11.0. `pandas.DataFrame.mode` can be used instead, see https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mode.html.
  stats.mode(titanic["who"])

ModeResult(mode=array(['man'], dtype=object), count=array([537]))

In [24]:
tip = sns.load_dataset("tips")

In [25]:
tip.std()

/tmp/ipykernel_77/19954772.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  tip.std()

total_bill    8.902412
tip           1.383638
size          0.951100
dtype: float64

In [26]:
tip.var()

/tmp/ipykernel_77/3690670462.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  tip.var()

total_bill    79.252939
tip            1.914455
size           0.904591
dtype: float64